@charset "utf-8";
/* CSS Document */
body{
	font-size:12px;
	font-family:"Source Han Sans CN Light","STHeiti", "STHeiti Light","Microsoft YaHei", "Microsoft JhengHei";
	background:#fff;
	margin:0;
	overflow-x:hidden;/*溢出隐藏，去掉水平方向的，直接剪裁*/
}
*{
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,form,table{
	font-weight: 400;
	margin:0;
    padding:0;
}
a,img{
	border:none;/*兼容ie浏览器*/
}
img{
	vertical-align:middle;
	border:0;
}
li{
	list-style:none;
}
i,em{
	font-style:normal;
}
a{
	text-decoration:none; 
	color:#000000;
	border:0;
}
a:link{
	text-decoration:none; 
	color:#000000;
}
a:visited{
	text-decoration:none; 
	color:#000000;
}
a:hover{
	text-decoration:none; 
	color:#000000;
}
a:active{
	text-decoration:none; 
	color:#000000;
}
.clearfix:before,.clearfix:after{
	display:table;
	content:"";
}
.clearfix:after{
	clear:both;
}
.clearfix{
	*zoom:1;
}/*兼容ie浏览器*/
table{border-collapse:collapse;}
.w{
	width: 72%;
	min-width: 1200px;
	margin: 0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
button{
	outline: 0;
}
